<table style="width: 100px; border-left-color: green; border-left-width:4px; border-left-style:dotted">
    <tbody>
        <tr>
            <td>
                <a href="/customergrid" class="isDisabled p-2 m-2" style="color:green">Customers</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/usergrid" class="isDisabled p-2 m-2" style="color:green">Users</a>
            </td>
        </tr>
        @*<tr>
                <td>
                    <a href="/rolegrid" class="p-2 m-2" style="color:green">Roles</a>
                </td>
            </tr>*@

    </tbody>
</table>